.ticket{
	size: 422px 216px;
	border: 2px solid color(#000 alpha(-80%));
	box-shadow: 0 4px 5px color(#000 alpha(-25%));
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Open Sans;
	font-size: 90%;
	color: var(--color__font_bright);
	user-select: none;
	cursor: default;
	
	&__line{
		position: relative;
		z-index: 10;
		min-height: 37px;
		padding: 0 15px;
		background: var(--color__ticket__line);
		
		&:after{
			content: '';
			position: absolute;
			z-index: -10;
		}
	}
	&__head{
		&:after{
			top: 100%;
			right: 0;
			border-top: 20px solid var(--color__ticket__line);
			border-right: 210px solid var(--color__ticket__line);
			border-left: 20px solid transparent;
		}
	}
	&__foot{
		&:after{
			bottom: 100%;
			left: 0;
			border-bottom: 20px solid var(--color__ticket__line);
			border-left: 210px solid var(--color__ticket__line);
			border-right: 20px solid transparent;
		}
	}
	&__status{
		flex: 1 100%;
		text-align: right;
	}
	&__logo{
		position: relative;
		bottom: 8px;
		float: left;
	}
	&__note{
		float: right;
		margin: 8px 0;
		text-align: left;
		font-size: 60%;
		line-height: .6;
		letter-spacing: -.03em;
	}
	&__title{
		float: left;
		padding: 10px 0;
	}
	&__info{
		float: right;
		margin: 15px 0;
	}
	&__prize{
		text-align: left;
		text-transform: uppercase;
		line-height: 1;
		
		&__title{
			font-size: 125%;
			font-weight: 700;
		}
		&__value{
			font-size: 115%;
			color: var(--color__yellow);
		}
	}
	&__price{
		position: relative;
		z-index: 10;
		size: 42px 40px;
		margin: -10px 0 0 20px;
		border-radius: 50%;
		background-color: var(--color__yellow);
		text-shadow: var(--color__text__shadow);
		line-height: 1;
		color: var(--color__gray_bright);
		
		&__value{
			font-size: 115%;
		}
	}
	&__button{
		align-self: flex-end;
		width: 170px;
		margin: 0 12px;
		background-color: #062545;
		background-image: 
			repeating-linear-gradient(
				45deg,
				transparent,
				transparent 3px,
				color(#fff alpha(-90%)) 4px,
				color(#fff alpha(-90%)) 5px
				),
			linear-gradient(#104175,#062343);
		box-shadow: 
			0 2px color(#fff alpha(-70%)) inset,
			0 4px color(#000 alpha(-90%)) inset;
		text-shadow: var(--color__text__shadow);
		text-align: center;
		font-size: 170%;
		font-weight: 700;
		line-height: 64px;
		
		&._erased{
			background-image: none;
			box-shadow: none;
			text-shadow: 0 0 6px var(--color__red);
			color: var(--color__yellow);
		}
	}
	
	&._mini{
		transform: scale(.65);
		transform-origin: 0 0;
	}
}