.form{
	width: 100%;
	user-select: none;
	
	&__fieldset{
		margin: 25px 0;
		
		&_half{
			flex: 1 50%;
			margin: 0;
			&:not(:last-child){
				padding-right: 20px;
			}
		}
	}
	&__label{
		display: block;
		margin-bottom: 15px;
		font-size: 123%;
	}
	&__select,
	&__input.input{
		width: 100%;
		
		&.ng-dirty.ng-invalid{
			box-shadow: 0 0 0 1px var(--color__red) inset;
		}
	}
	&__select.input{
		padding-right: 0;
	}
	&__button{
		width: 210px;
		height: 40px;
		margin-top: 5px;
		line-height: 40px;
		
		&._disabled{
			opacity: .2;
		}
	}
}