.select{
	position: relative;
	user-select: none;
	cursor: default;
	
	&__selected{
		white-space: nowrap;
		overflow: hidden;
	}
	&__list{
		position: absolute;
		z-index: 100;
		top: 100%;
		left: 0;
		box-sizing: border-box;
		width: 100%;
		background: inherit;
		line-height: 20px;
		visibility: hidden;
	}
	&__item{
		padding: 0 10px;
		white-space: nowrap;
		
		&.selected,&:hover{
			background: var(--color__purple_dark);
		}
	}
	&__arrow{
		margin-left: 5px;
		transition: .3s;
	}
	&.open{
		.select{
			&__list{
				visibility: visible;
			}
			&__arrow{
				transform: rotate(180deg);
			}
		}
	}
}