<!--Balance-->
<div class="balance grid" ng-if="user.loged">
	<div class="balance__icon grid grid_justify_center grid_align_center"><div class="i-wallet_colored"></div></div>
	<div class="balance__info grid grid_dir_column grid_justify_center">
		<div class="balance__title">Ваш баланс:</div>
		<div class="balance__value">{{user.balance}} зол</div>
	</div>
</div>