<div class="bets" ng-controller="betsCtrl as bets" ng-show="bets.shown">
	<div class="bets__overlay" ng-click="bets.shown = false"></div>
	<div class="bets__popup">
		<div class="bets__close" ng-click="bets.shown = false"></div>
		<div class="bets__title">Мои ставки за все время</div>
		<div class="bets__tabs grid grid_justify_start">
			<div class="bets__tab" ng-click="bets.type = 'kodo'" ng-class="{ active: bets.type === 'kodo' }">KODO</div>
			<div class="bets__tab" ng-click="bets.type = 'headshot'" ng-class="{ active: bets.type === 'headshot' }">HEADSHOT</div>
		</div>
		<div class="bets__content" ng-show="bets.type === 'headshot'">
			<div class="bets__row bets__head">
				<div class="bets__cell">Номер билета</div>
				<div class="bets__cell">сумма выигрыша</div>
				<div class="bets__cell">ДАТА И ВРЕМЯ</div>
			</div>
			<div class="bets__row" ng-repeat="bet in bets.headshot">
				<div class="bets__cell">№{{bet.id}}</div>
				<div class="bets__cell">{{bet.win}} зол.</div>
				<div class="bets__cell">{{bet.updated_at | date:'dd.MM.yy HH:mm'}}</div>
			</div>
		</div>
		<div class="bets__content" ng-show="bets.type === 'kodo'">
			<div class="bets__row bets__head">
				<div class="bets__cell">номер тиража</div>
				<div class="bets__cell">Ставки</div>
				<div class="bets__cell">Отмеченные мной числа</div>
				<div class="bets__cell">время розыгрыша</div>
			</div>
			<div class="bets__row" ng-repeat="bet in bets.kodo | orderBy:'-created_at'">
				<div class="bets__cell">{{bet.circles.join(' ') || 1000}}</div>
				<div class="bets__cell">1</div>
				<div class="bets__cell bets__numbers">
					<span class="bets__numb" ng-repeat="numb in bet.numbers">{{numb.index}}</span>
					<div ng-init="gun = bets.guns[bet.guns[0]]" class="gun gun_tiny bets__gun _theme_{{gun.theme}}">
						<div class="gun__preview">
							<img ng-src="img/{{gun.preview}}" alt="" class="gun__img"></div>
						</div>
					</div>
				<div class="bets__cell">Разыгрыш прошел <span class="link link_type_common">{{bet.created_at | date:'dd.MM.yy HH:mm'}}</span></div>
			</div>
		</div>
	</div>
</div>