<div class="broadcast grid grid_dir_column" ng-controller="broadcastCtrl as broadcast" ng-show="broadcast.shown">
	<div class="broadcast__close" ng-click="broadcast.shown = false"><div class="i-close"></div></div>
	<div class="broadcast__title">Трансляция KODO</div>
	<div class="broadcast__subtitle">Результаты тиража №21 143</div>
	<div class="broadcast__result grid grid_align_center">
		<div class="broadcast__nubmers numbers grid grid_wrap">
			<div class="broadcast__number numbers__item numbers__item_size_big">10</div>
			<div class="broadcast__number numbers__item numbers__item_size_big">16</div>
			<div class="broadcast__number numbers__item numbers__item_size_big">45</div>
			<div class="broadcast__number numbers__item numbers__item_size_big">16</div>
			<div class="broadcast__number numbers__item numbers__item_size_big">30</div>
			<div class="broadcast__number numbers__item numbers__item_size_big">25</div>
			<div class="broadcast__number numbers__item numbers__item_size_big">16</div>
			<div class="broadcast__number numbers__item numbers__item_size_big">4</div>
		</div>
		<div class="numbers__item numbers__item_size_big _status_selected">
			<img src="img/gun3.png" alt="" class="broadcast__gun"></img>
		</div>
	</div>
	<div class="broadcast__show grid grid_align_center grid_justify_start" ng-click="broadcast.auto = !broadcast.auto">
		<span class="broadcast__show__icon"><span class="i-check" ng-show="broadcast.auto"></span></span>
		Показывать автоматически
	</div>
</div>