<!--Callback-->
<div class="callback inner">
	<div class="inner__title">Напишите нам</div>
	<div class="grid">
		<div class="inner__content callback" ng-controller="callbackCtrl as callback">
			<div class="callback__sended callback__subtitle" ng-show="callback.sended">Ваша заявка успешно отправлена.</div>
			<form name="callbackForm" class="form" ng-hide="callback.sended" ng-submit="callbackForm.$valid && callback.addTicket()" novalidate>
				<div class="callback__errors" ng-repeat="errors in callback.errors">
					<div class="callback__error" ng-repeat="error in errors">{{error}}</div>
				</div>
				<div class="form__fieldset grid">
					<div class="form__fieldset form__fieldset_half">
						<label class="form__label">Ваше имя*</label>
						<input type="text" class="form__input input" placeholder="Василий" ng-model="callback.ticket.user_name" required>
					</div>
					<div class="form__fieldset form__fieldset_half">
						<label class="form__label">Ваш email*</label>
						<input type="email" class="form__input input" placeholder="vasiliy 228@mail.ru" ng-model="callback.ticket.user_email" required>
					</div>
				</div>
				<div class="form__fieldset">
					<label class="form__label">Категория*</label>
					<select class="form__select input" ng-model="callback.ticket.category">
						<option class="form__option" value="else">Другое</option>
						<option class="form__option" value="issues">Ошибка</option>
						<option class="form__option" value="features">Улучшение</option>
					</select>
				</div>
				<div class="form__fieldset">
					<label class="form__label">Тема*</label>
					<input type="text" class="form__input input" placeholder="Васян не может найти выход" ng-model="callback.ticket.title" required>
				</div>
				<div class="form__fieldset">
					<label class="form__label">Сообщение*</label>
					<textarea rows="10" class="form__input form__input_textarea input input_textarea" placeholder="Помогите мне, я васян." ng-model="callback.ticket.body" required></textarea>
				</div>
				<button class="button _theme_dark form__button" ng-class="{ _disabled: !callbackForm.$valid}">Отправить сообщение</button>
			</form>
		</div>
		<aside class="inner__aside">
			<div class="inner__subtitle">Свяжитесь с нами</div>
			<div class="inner__text">Вы можете написать нам свои пожелания и рекомендации. Писать вопросы по работе проекте не нужно, для этого существует техподдержка! Если Вы юридическое лицо, напишите какой кредит Вам нужен. Мы с Вами свяжемся.</div>
			<div class="inner__line"></div>
			<div class="inner__subtitle">Контакты</div>
			<div class="inner__link"><span class="i-phone inner__link__icon"></span>Телефон: <a href="tel:+72223333333">+7 (222) 333-33-33</a></div>
			<div class="inner__link"><span class="i-email inner__link__icon"></span>Email: <a href="mailto:admin@kodoproject.com" class="link link_type_active">admin@kodoproject.com</a></div>
		</aside>
	</div>
</div>