<div class="headshot grid" ng-controller="headshotCtrl as headshot">
	<main class="headshot__main content__main">
		<div class="headshot__title">Билет лотереии</div>
		<div class="headshot__subtitle">«Мне сегодня повезет»</div>
		<div class="headshot__prize">Возможный выигрыш от 20 до 150.000 золотых</div>
		<div class="headshot__ticket">
			<div class="ticket grid grid_dir_column" style="background-image:url(img/ticket{{::headshot.theme()}}.jpg)">
				<div class="ticket__head ticket__line">
					<div class="ticket__title">Лотерея №1 в рунете</div>
					<div class="ticket__info grid">
						<div class="ticket__prize">
							<div class="ticket__prize__title">выигрыш до</div>
							<div class="ticket__prize__value">150.000 зол.</div>
						</div>
						<div class="ticket__price grid grid_dir_column grid_justify_center">Цена <span class="ticket__price__value">20p.</span></div>
					</div>
				</div>
				<div class="ticket__status grid grid_dir_column grid_justify_center">
					<div class="ticket__button" ng-class="{ _erased: headshot.prize }">
						<span ng-if="!headshot.prize">НЕ СТИРАТЬ</span>
						<span ng-if="headshot.prize > 0">{{headshot.prize}} зол</span>
						<span ng-if="headshot.prize === 0"></span>
					</div>
				</div>
				<div class="ticket__foot ticket__line">
					<div class="ticket__logo">
						<div class="i-logo-cs"></div>
					</div>
					<div class="ticket__note">Пример и шаблон прикрепляю к проекту. <br></br>Красным кругом отмечена область размещения <br></br>иллюстрации. (Рыбный текст)</div>
				</div>
			</div>
		</div>
		<div class="headshot__send" ng-click="headshot.buy()">Пуск</div>
		<div class="headshot__barcode">
			<div class="headshot__number">Билет №200150029</div>
			<div class="i-barcode"></div>
		</div>
	</main>
	<aside class="content__aside">
		<div class="headshot__aside">
			<div class="headshot__rules button _theme_dark _theme_dark-dark">правила</div>
			<div class="headshot__aside__title">Билеты</div>
			<div class="headshot__list">
			</div>
		</div>
	</aside>
</div>