<!--History-->
<div class="history" ng-controller="historyController as history">
	<div class="history__title">Ставки за сегодня:</div>
	<div class="history__head grid">
		<div class="history__filter">
			<div class="history__links">
				<a href class="history__link" ng-click="history.filter.view = 'short'" ng-class="{ active: history.filter.view === 'short' }">Кратко</a>
				<a href class="history__link" ng-click="history.filter.view = 'full'" ng-class="{ active: history.filter.view === 'full' }">Развернуто</a>
			</div>
			<div class="history__links">
				<a href class="history__link" ng-click="history.filter.circle = undefined" ng-class="{ active: history.filter.circle === undefined }">Все тиражы</a>
				<a href class="history__link" ng-repeat="circle in history.circles" ng-click="history.filter.circle = circle" ng-class="{ active: history.filter.circle === circle }">№{{circle}}</a>
			</div>
			<div class="history__links">
				<a href class="history__link" ng-click="history.filter.winning = undefined" ng-class="{ active: history.filter.winning === undefined }">Все ставки</a>
				<a href class="history__link" ng-click="history.filter.winning = true" ng-class="{ active: history.filter.winning === true }">Выигрышные</a>
				<a href class="history__link" ng-click="history.filter.winning = false" ng-class="{ active: history.filter.winning === false }">Невыигрышные</a>
			</div>
		</div>
		<div class="history__head__links">
			<a href="#/archive" class="link link_type_common link_type_active" ng-show="history.filter.view === 'full'">Архив тиражей</a>
			<div class="history__instruction" ng-show="history.filter.view === 'short'">
				<div class="history__short grid">
					<div class="history__short__stat">
						<div class="history__short__half">
							<span class="history__short__number">5</span><span class="history__short__number">8</span>
						</div>
						<div class="history__short__half">
							<span class="history__short__number">1</span><span class="history__short__number">1</span>
						</div>
					</div>
					<div class="history__instruction__text">
						<div class="history__short__half history__instruction__half grid">
							<div class="history__instruction__line"><span class="history__instruction__b">Удачно</span><br>сыгравших ставок</div>
							<div class="history__instruction__line"><span class="history__instruction__b">Всего</span><br>сыгравших ставок</div>
						</div>
						<div class="history__short__half history__instruction__half grid grid_dir_column grid_justify_center">
							<div class="history__instruction__line"><span class="history__instruction__b">Поле 1</span> со ставками</div>
							<div class="history__instruction__line"><span class="history__instruction__b">Поле 2</span> со ставками</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="history__content" ng-show="history.filter.view === 'full'">
		<div class="history__list">
			<div class="history__move history__prev" ng-click="history.prev()"><div class="history__prev__icon history__move__icon i-arrow-down"></div></div>
			<div class="history__move history__next" ng-click="history.next()"><div class="history__next__icon history__move__icon i-arrow-down"></div></div>
			<div class="history__wrap" style="transform:translateX({{history.shift()}}px)">
				<div class="history__full history__rate" ng-repeat="rate in history.rates | filter:{ win:history.filter.winning, circles:history.filter.circle } | orderBy:'-created_at' ">
					<div class="history__rate__head">
						<div class="history__rate__index">{{rate.index}}</div>
						Купон учавствует в тиражах <span ng-repeat="circle in rate.circles">{{rate.circles.join(', ')}}</span><br>
						<span ng-if="rate.factor">Множитель: {{rate.factor}}</span>
					</div>
					<div class="choice__body numbers">
						<div class="grid grid_wrap">
							<div class="numbers__item _status_{{numb.status}}" ng-repeat="numb in rate.numbers">{{numb.index}}</div>
						</div>
						<div class="history__gun gun _theme_{{history.guns[rate.gun].theme }}">
							<div class="gun__preview">
								<img ng-src="img/{{history.guns[rate.gun].preview}}" alt="" class="gun__img"></img>
							</div>
							<div class="gun__info">
								<div class="gun__title">{{history.guns[rate.gun].title}}</div>
								<div class="gun__subtitle">{{history.guns[rate.gun].subtitle}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="grid grid_wrap grid_justify_start" ng-show="history.filter.view === 'short'">
		<div class="history__short history__rate" ng-repeat="rate in history.rates | filter:{ winning:history.filter.winning, circles:history.filter.circle } | orderBy:'-created_at' ">
			<div class="history__short__stat">
				<div class="history__short__half">
					<span class="history__short__number">{{rate.winning}}</span><span class="history__short__number">8</span>
				</div>
				<div class="history__short__half">
					<span class="history__short__number"><span ng-if="!rate.win">0</span><span ng-if="rate.win">1</span></span><span class="history__short__number">1</span>
				</div>
			</div>
			<div class="history__short__circle">№{{rate.circles.join(', ')}}</div>
		</div>
	</div>
	<div class="history__annotation numbers grid grid_justify_center" ng-show="history.filter.view === 'full'">
		<div class="history__annotation__item">
			<div class="numbers__item numbers__item_size_big _status_winning history__annotation__number">1</div>
			<div class="history__annotation__text">Выпавшие<br>числа</div>
		</div>
		<div class="history__annotation__item">
			<div class="numbers__item numbers__item_size_big _status_selected history__annotation__number">2</div>
			<div class="history__annotation__text">Отмеченные</div>
		</div>
		<div class="history__annotation__item">
			<div class="numbers__item numbers__item_size_big _status_matched history__annotation__number">3</div>
			<div class="history__annotation__text">Совпавшие</div>
		</div>
	</div>
</div>