<!--Lottery-->
<div class="lottery grid" ng-controller="lotteryCtrl as lottery">
	<div class="content__main">
		<div class="lottery__hand grid grid_align_start" ng-show="lottery.type === 'hand' ">
			<div class="choice">
				<div class="choice__title">Первая часть поля</div>
				<div class="choice__wrap">
					<div class="choice__head grid grid_align_center grid_justify_start">
						<div class="choice__head__icon"><div class="i-info"></div></div>
						<div class="choice__head__title">
							Ставка {{lottery.bet+1}}
							<div ng-hide="lottery.hand.bets[lottery.bet].numbers.length === 8">Отметьте {{ 8 - lottery.hand.bets[lottery.bet].numbers.length }} чисел</div>
							<div ng-show="lottery.hand.bets[lottery.bet].numbers.length === 8">Вы отметили все числа</div>
						</div>
					</div>
					<div class="choice__body numbers grid grid_wrap">
						<div class="numbers__item" ng-repeat="numb in lottery.numbers" ng-class="{ _status_selected: lottery.isNumber($index) }" ng-click="lottery.toggleNumber($index)">{{numb.index}}</div>
					</div>
				</div>
			</div>
			<div class="choice">
				<div class="choice__title">Вторая часть поля</div>
				<div class="choice__wrap">
					<div class="choice__head grid grid_align_center grid_justify_start">
						<div class="choice__head__icon"><div class="i-star-round"></div></div>
						<div class="choice__head__title">Хотите выйграть больше?</div>
					</div>
					<div class="choice__body grid grid_wrap">
						<div class="gun lottery__gun" ng-repeat="gun in lottery.guns" ng-class="{ _theme_{{gun.theme}}: lottery.isGun($index) }" ng-click="lottery.toggleGun($index)">
							<div class="gun__preview">
								<img ng-src="img/{{gun.preview}}" alt="" class="gun__img"></img>
							</div>
							<div class="gun__info grid grid_dir_column grid_justify_center">
								<div class="gun__title">{{gun.title}}</div>
								<div class="gun__subtitle" ng-if="gun.subtitle">{{gun.subtitle}}</div>
							</div>
						</div>
					</div>
					<div class="lottery__clean" ng-click="lottery.cleanBet()">Очистить</div>
				</div>
			</div>
		</div>
		<div class="lottery__multi" ng-show="lottery.type === 'multi' ">
			<div class="lottery__fieldset grid grid_align_center">
				<div class="lottery__label">Отмеченных номеров во второй части поля</div>
				<div class="lottery__extra lottery__bets grid">
					<div class="input__change input__less" ng-click="lottery.extraLess('bets')"></div>
					<div class="input input__field" ng-bind="lottery.multi.extra.bets.value"></div>
					<div class="input__change input__more" ng-click="lottery.extraMore('bets')"></div>
				</div>
			</div>
			<div class="lottery__fieldset lottery__scale grid">
				<div class="lottery__scale__line" ng-repeat="line in lottery.multi.extra.bets.available" ng-class="{ active: line <= lottery.multi.extra.bets.value }" ng-click="lottery.setExtraValue('bets',line)"><span ng-if="line ===1 || line%10 === 0">{{line}}</span></div>
			</div>
			<div class="grid">
				<div class="grid__col grid__col_half">
					<div class="lottery__fieldset grid grid_align_center">
						<div class="lottery__label">Отмеченных номеров во второй части поля</div>
						<div class="lottery__extra lottery__guns grid">
							<div class="input__change input__less" ng-click="lottery.extraLess('guns')"></div>
							<div class="input input__field" ng-bind="lottery.multi.extra.guns.value"></div>
							<div class="input__change input__more" ng-click="lottery.extraMore('guns')"></div>
							<div class="lottery__prompt grid grid_wrap">
								<span class="lottery__prompt__numb" ng-repeat="item in lottery.multi.extra.guns.available" ng-class="{ _active: item === lottery.multi.extra.guns.value }" ng-click="lottery.setExtraValue('guns',item)">{{item}}</span>
							</div>
						</div>
					</div>
					<div class="lottery__fieldset grid grid_align_center">
						<div class="lottery__label">Множитель</div>
						<div class="lottery__extra lottery__factor grid">
							<div class="input__change input__less" ng-click="lottery.extraLess('factor')"></div>
							<div class="input input__field" ng-bind="lottery.multi.extra.factor.value"></div>
							<div class="input__change input__more" ng-click="lottery.extraMore('factor')"></div>
							<div class="lottery__prompt grid grid_wrap">
								<span class="lottery__prompt__numb" ng-repeat="item in lottery.multi.extra.factor.available" ng-class="{ _active: item === lottery.multi.extra.factor.value }" ng-click="lottery.setExtraValue('factor',item)">{{item}}</span>
							</div>
						</div>
					</div>
					<div class="lottery__fieldset grid grid_align_center">
						<div class="lottery__label">Тиражей</div>
						<div class="lottery__extra lottery__circles grid">
							<div class="input__change input__less" ng-click="lottery.extraLess('circles')"></div>
							<div class="input input__field" ng-bind="lottery.multi.extra.circles.value"></div>
							<div class="input__change input__more" ng-click="lottery.extraMore('circles')"></div>
							<div class="lottery__prompt grid grid_wrap">
								<span class="lottery__prompt__numb" ng-repeat="item in lottery.multi.extra.circles.available" ng-class="{ _active: item === lottery.multi.extra.circles.value }" ng-click="lottery.setExtraValue('circles',item)">{{item}}</span>
							</div>
						</div>
					</div>
					<div class="lottery__fieldset grid grid_align_center">
						<div class="lottery__label">Ставок</div>
						<div class="lottery__extra lottery__extra_total">{{lottery.hand.bets.length}}</div>
					</div>
					<div class="lottery__fieldset grid grid_align_center">
						<div class="lottery__label">Сумма</div>
						<div class="lottery__extra lottery__extra_total">{{lottery.sum()}} зол</div>
					</div>
				</div>
				<div class="grid__col grid__col_half">
					<div class="lottery__login" ng-if="!user.loged">
						Для того, чтобы получить доступ к покупке билетов - авторизуйтесь пожалуйста.
						<a class="lottery__login__button button _theme_yellow" ng-click="user.login()">Войти</a>
					</div>
					<div class="lottery__actions" ng-if="user.loged">
						<div class="lottery__balance">
							Ваш баланс: <span class="lottery__balance__value">{{user.balance}} зол.</span>
						</div>
						<div class="lottery__send" ng-click="lottery.send()">+ Оплатить из кошелька <span class="i-wallet lottery__send__icon"></span></div>
						<a href="#" class="lottery__refill">+ Пополнить счет</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content__aside lottery__aside">
		<div class="lottery__links grid">
			<a href="#" class="lottery__link">Правила игры</a>
			<a href="#/archive" class="lottery__link">Архив тиражей</a>
		</div>
		<div class="lottery__types grid grid_align_center">
			<a href class="lottery__type" ng-class="{ active: lottery.type === 'hand' }" ng-click="lottery.type = 'hand'">Вручную</a>
			<a href class="lottery__type" ng-class="{ active: lottery.type === 'multi' }" ng-click="lottery.type = 'multi'">Мультиставка</a>
		</div>
		<div ng-show="lottery.type === 'hand' ">
			<div class="lottery__add button _theme_yellow" ng-click="lottery.addBet()">+Добавить ставку</div>
			<div class="lottery__bates">
				<div class="select lottery__bates__select">
					<div class="select__selected lottery__bates__selected">Ставка {{lottery.bet + 1}} <span class="i-arrow-down select__arrow" ng-show="lottery.hand.bets.length > 1"></span></div>
					<div class="select__list lottery__bates__list" ng-show="lottery.hand.bets.length > 1">
						<div ng-repeat="bet in lottery.hand.bets" class="lottery__bates__item" ng-class="{ active: lottery.bet === $index }"><span ng-click="lottery.bet = $index">Ставка {{$index + 1}}</span> <span ng-click="lottery.removeBet($index)" class="lottery__bates__delete">x</span></div>
					</div>
				</div>
			</div>
			<div class="lottery__auto grid">
				<div class="lottery__auto__button grid grid_justify_center grid_align_center" ng-click="lottery.autoRandom()">
					<div class="i-wand"></div>
				</div>
				<div class="lottery__auto__button grid grid_justify_center grid_align_center" ng-click="lottery.autoEven()">●</div>
				<div class="lottery__auto__button grid" ng-click="lottery.autoOdd()">
					<div>●</div>
					<div class="lottery__auto__button__bottom">●</div>
				</div>
				<div class="lottery__auto__button grid grid_dir_column" ng-click="lottery.autoFirst()">
					<div class="grid">
						<div>●</div>
						<div>●</div>
					</div>
					<div class="grid">
						<div>○</div>
						<div>○</div>
					</div>
				</div>
				<div class="lottery__auto__button grid grid_dir_column" ng-click="lottery.autoLast()">
					<div class="grid">
						<div>○</div>
						<div>○</div>
					</div>
					<div class="grid">
						<div>●</div>
						<div>●</div>
					</div>
				</div>
			</div>
			<div class="lottery__fieldset grid grid_align_center">
				<div class="lottery__label">Множитель</div>
				<div class="lottery__extra lottery__factor grid">
					<div class="input__change input__less" ng-click="lottery.extraLess('factor')"></div>
					<div class="input input__field" ng-bind="lottery.hand.extra.factor.value"></div>
					<div class="input__change input__more" ng-click="lottery.extraMore('factor')"></div>
					<div class="lottery__prompt grid grid_wrap">
						<span class="lottery__prompt__numb" ng-repeat="item in lottery.hand.extra.factor.available" ng-class="{ _active: item === lottery.hand.extra.factor.value }" ng-click="lottery.setExtraValue('factor',item)">{{item}}</span>
					</div>
				</div>
			</div>
			<div class="lottery__fieldset grid grid_align_center">
				<div class="lottery__label">Тиражей</div>
				<div class="lottery__extra lottery__circles grid">
					<div class="input__change input__less" ng-click="lottery.extraLess('circles')"></div>
					<div class="input input__field" ng-bind="lottery.hand.extra.circles.value"></div>
					<div class="input__change input__more" ng-click="lottery.extraMore('circles')"></div>
					<div class="lottery__prompt grid grid_wrap">
						<span class="lottery__prompt__numb" ng-repeat="item in lottery.hand.extra.circles.available" ng-class="{ _active: item === lottery.hand.extra.circles.value }" ng-click="lottery.setExtraValue('circles',item)">{{item}}</span>
					</div>
				</div>
			</div>
			<div class="lottery__fieldset grid grid_align_center">
				<div class="lottery__label">Ставок</div>
				<div class="lottery__extra lottery__extra_total">{{lottery.hand.bets.length}}</div>
			</div>
			<div class="lottery__fieldset grid grid_align_center">
				<div class="lottery__label">Сумма</div>
				<div class="lottery__extra lottery__extra_total">{{lottery.sum()}} зол</div>
			</div>
			<div class="lottery__login" ng-if="!user.loged">
				Для того, чтобы получить доступ к покупке билетов - авторизуйтесь пожалуйста.
				<a class="lottery__login__button button _theme_yellow" ng-click="user.login()">Войти</a>
			</div>
			<div class="lottery__actions" ng-if="user.loged">
				<div class="lottery__balance">
					Ваш баланс: <span class="lottery__balance__value">{{user.balance}} зол.</span>
				</div>
				<div class="lottery__send button _theme_dark _theme_dark-blue _theme_dark-dark" ng-click="lottery.send()">+ Оплатить из кошелька <span class="i-wallet lottery__send__icon"></span></div>
				<a href="#" class="lottery__refill button _theme_dark">+ Пополнить счет</a>
			</div>
		</div>
		<div ng-show="lottery.type === 'multi' ">
			<div class="markdown">
				<h3>Загаловок</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. m eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
				<p>
					<mark>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </mark>
				</p>
			</div>
		</div>
	</div>
</div>