<!--Stat-->
<div class="stat" ng-controller="statCtrl as stat">
	<div class="stat__side stat__side_dir_left">
		<div class="stat__set stat__broadcast">
			<div class="stat__title">Быстрые игры</div>
			<a href class="stat__link stat__subtitle" ng-click="stat.broadcast()">Последняя трансляция Kodo тираж №40653</a>
		</div>
		<div class="stat__set stat__set_clear stat__often">
			<div class="stat__subtitle">Часто выпадающие числа</div>
			<a href class="stat__link" ng-click="stat.oftenType = 'ten'" ng-class="{ active: stat.oftenType === 'ten' }">в последних 10 тиражах</a><br>
			<a href class="stat__link" ng-click="stat.oftenType = 'all'" ng-class="{ active: stat.oftenType === 'all' }">за все время</a>
			<div class="stat__numbers grid grid_wrap grid_justify_start" ng-show="stat.oftenType === 'all'">
				<div class="stat__number" ng-repeat="numb in stat.oftenAll | orderBy: '-value' | limitTo:10">{{numb.number}}</div>
			</div>
			<div class="stat__numbers grid grid_wrap grid_justify_start" ng-show="stat.oftenType === 'ten'">
				<div class="stat__number" ng-repeat="numb in stat.oftenLast | orderBy: '-value' | limitTo:10">{{numb.number}}</div>
			</div>
		</div>
	</div>
	<div class="stat__side stat__side_dir_right">
		<div class="stat__set stat__bets">
			<div class="stat__subtitle" ng-click="stat.bets()"><span class="stat__link">Мои ставки</span></div>
			<div class="grid grid_justify_start">
				<a href ng-click="stat.type = 'kodo'" ng-class="{ active: stat.type === 'kodo' }" class="stat__link stat__link_inline active">Kodo</a>
				<a href ng-click="stat.type = 'headshot'" ng-class="{ active: stat.type === 'headshot' }" class="stat__link stat__link_inline">HEADSHOT</a>
			</div>
			<div ng-show="stat.type === 'kodo'">
				<div class="stat__bet">
					<div class="grid grid_justify_start">
						<div class="stat__bet__numb">№322</div>
						<div class="stat__bet__time">25.03.2015</div>
					</div>
					<div class="grid grid_justify_start">
						<div class="stat__bet__numbers">1 2 3 4 5 6 7 8</div>
						<div class="stat__bet__gun">4</div>
					</div>
				</div>
				<div class="stat__bet">
					<div class="grid grid_justify_start">
						<div class="stat__bet__numb">№322</div>
						<div class="stat__bet__time">25.03.2015</div>
					</div>
					<div class="grid grid_justify_start">
						<div class="stat__bet__numbers">1 2 3 4 5 6 7 8</div>
						<div class="stat__bet__gun">4</div>
					</div>
				</div>
			</div>
			<div ng-show="stat.type === 'headshot'">
				<div class="stat__bet">
					<div class="grid grid_justify_start">
						<div class="stat__bet__numb">№322</div>
						<div class="stat__bet__time">25.03.2015</div>
					</div>
					<div class="grid grid_justify_start">
						<div class="stat__bet__numbers">1 2 3 4 5 6 7 8</div>
						<div class="stat__bet__gun">4</div>
					</div>
				</div>
			</div>
		</div>
		<div class="stat__set stat__set_clear stat__last">
			<div class="stat__subtitle">Результаты последних тиражей</div>
			<div class="select">
				<div class="select__selected"><a href class="stat__link">Тираж {{stat.circle}}</a><span class="i-arrow-down select__arrow" ng-show="stat.circles.length > 1"></span></div>
				<div class="select__list stat__list">
					<div ng-if="stat.circles.length > 1" ng-repeat="circle in stat.circles" ng-click="stat.circlesShow = false"><a href class="stat__link" ng-class="{ active: stat.circle === circle}" ng-click="stat.circle = circle">Тираж {{circle}}</a></div>
				</div>
			</div>
			<div class="stat__numbers grid grid_wrap grid_justify_start" ng-show="stat.circle === 17464">
				<div class="stat__number">14</div>
				<div class="stat__number">3</div>
				<div class="stat__number">15</div>
				<div class="stat__number">12</div>
				<div class="stat__number">19</div>
				<div class="stat__number">4</div>
				<div class="stat__number">16</div>
				<div class="stat__number">20</div>
			</div>
			<div class="stat__numbers grid grid_wrap grid_justify_start" ng-show="stat.circle === 17465">
				<div class="stat__number">14</div>
				<div class="stat__number">3</div>
				<div class="stat__number">19</div>
				<div class="stat__number">4</div>
				<div class="stat__number">16</div>
				<div class="stat__number">20</div>
				<div class="stat__number">15</div>
				<div class="stat__number">12</div>
			</div>
		</div>
		<div class="stat__set stat__set_clear stat__rare">
			<div class="stat__subtitle">Давно не выпадали</div>
			<div class="stat__numbers grid grid_wrap grid_justify_start">
				<div class="stat__number" ng-repeat="numb in stat.oftenAll | orderBy: '-value': true | limitTo:10">{{numb.number}}</div>
			</div>
		</div>
	</div>
</div>