<!--Store-->
<div class="store" ng-controller="storeCtrl as store">
	<div class="store__main grid">
		<div class="store__best">
			<div class="store__best__title">Лучшие предложения:</div>
			<div class="store__best__gun" ng-repeat="gun in store.best" ng-click="store.addGun(gun)">
				<img ng-src="{{gun.preview}}" alt="" class="store__best__gun__preview"></img>
				<div class="store__best__gun__price">{{gun.price}} зол.</div>
				<div class="store__best__gun__info grid grid_align_center">
					<div class="store__best__gun__info__icon"><div class="i-label"></div></div>
					<div class="store__best__gun__info__text">
						<div class="store__best__gun__name">{{gun.name}}</div>
					<div class="store__best__gun__status" ng-if="gun.status">{{gun.status}}</div>
					</div>
				</div>
				<!--<a href="{{gun.image}}" class="store__best__gun__loop" data-lightbox="bestguns"><span class="i-loupe"></span></a>-->
			</div>
		</div>
		<div class="store__cart">
			<div class="store__change">
				<div class="store__change__title">Внимание! Необходимо ввести ссылку на обмен. ( <a href="#" class="link link_colored link_type_common">Где взять ссылку?</a> )</div>
				<div class="grid">
					<input type="text" class="store__change__input input" placeholder="https://steamcommunity.com/tradeoffer/new/?partner=226107091&token=pWn1337k">
					<button class="store__change__button button _theme_yellow">Запомнить ссылку</button>
				</div>
			</div>
			<div class="store__inventory">
				<div class="store__inventory__title">Ваш инвентарь:</div>
				<div class="store__inventory__list grid grid_justify_start grid_wrap">
					<div class="store__inventory__item" ng-repeat="gun in store.inventory track by $index" ng-click="store.removeGun($index)">
						<img ng-src="{{gun.preview}}" alt="" class="store__inventory__img"></img>
					</div>
					<div class="store__inventory__item" ng-repeat="gun in store.example">
						<img ng-src="{{gun.preview}}" alt="" class="store__inventory__img"></img>
					</div>
				</div>
			</div>
			<div class="store__actions grid">
				<div class="store__action">
					<div class="store__total">
						<div class="store__total__text">Текущая стоимость <br>инвентаря:</div>
						<div class="store__total__price">{{store.total}} зол</div>
					</div>
				</div>
				<a href class="store__action store__buy" ng-click="store.buy(store.total)">
					<span">Забрать выигрыш!</span>
				</a>
				<div class="store__action">
					<a href="#/headshot" class="store__more">Сыграть еще <br>чтобы увел. баланс</a>
				</div>
			</div>
		</div>
	</div>
	<div class="store__guns">
		<div class="store__filter">
			<div class="store__filter__line grid grid_justify_start">
				<div class="store__filter__button" ng-click="store.filter = {}">Все предметы</div>
				<div class="store__filter__button" ng-click="store.toggleSt()">StatTrack</div>
				<div class="store__filter__button" ng-click="store.toggleStar()"><span class="i-star"></span></div>
				<div class="store__filter__button store__filter__search grid">
					<input type="text" class="store__filter__input input" placeholder="Поиск..." ng-model="store.filter.query">
					<div class="store__filter__search__icon i-search"></div>
				</div>
			</div>
			<div class="store__filter__line grid grid_justify_start">
				<div class="store__filter__button select" ng-repeat="setting in store.settings">
					<div class="select__selected">{{setting.title}} - {{store.selected(store.filter[setting.name])}} <span class="i-arrow-down select__arrow"></span></div>
					<div class="select__list">
						<div class="select__item" ng-click="store.filter[setting.name] = undefined">Все</div>
						<div class="select__item" ng-repeat="item in setting.list" ng-click="store.filter[setting.name] = item">{{item}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="store__guns__list grid grid_wrap grid_justify_start">
			<div ng-repeat="gun in store.guns | filter:{
				name:store.filter.query,
				star:store.filter.star,
				st:store.filter.st,
				type:store.filter.type,
				quality:store.filter.quality,
				status:store.filter.status
			}" ng-click="store.addGun(gun)" class="store__gun _theme_{{gun.theme}} _st_{{gun.st}}">
				<div class="store__gun__preview">
					<img ng-src="{{gun.preview}}" alt="" class="store__gun__img"></img>
				</div>
				<div class="store__gun__price">{{gun.price}} зол.</div>
				<div class="store__gun__status" ng-if="gun.status">{{gun.status}}</div>
			</div>
		</div>
	</div>
</div>