.archive{
	margin: 25px;
	
	&__link{
		display: inline-block;
		padding: 3px 5px;
		margin: 0 20px;
		text-decoration: underline;
		
		&:hover{
			text-decoration: none;
		}
		&.active{
			text-decoration: none;
			background: var(--color__archive__order__link);
		}
	}
	&__checkbox{
		margin-left: 80px;
		font-size: 110%;
		
		&__icon{
			display: inline-block;
			vertical-align: middle;
			size: 20px;
			border: 1px solid var(--color__yellow);
			margin-right: 10px;
			text-align: center;
			line-height: 15px;
		}
		&.active{
			&:before{
				background: var(--color__yellow);
			}
		}
	}
	&__filter{
		&__line{
			margin: 0 0 25px;
		}
		&__link{
			margin: 5px 0;
		}
		&__input{
			margin: 0 10px;
		}
	}
	&__order{
		padding-bottom: 25px;
		border-bottom: 1px solid var(--color__blue);
		margin-bottom: 25px;
		font-size: 110%;
	}
	&__content{
		padding: 25px;
		margin: 40px 0 0;
		background: var(--color__blue_dirty);
	}
	&__data{
		width: 100%;
		font-size: 14px;
		
		&__head &__cell:nth-last-child(2){
			height: auto;
		}
		&__head,
		&__item{
			display: flex;
			justify-content: space-between;
		}
		&__item{
			background: var(--color__archive__row);
			
			&:not(:last-child){
				margin-bottom: 15px;
			}
		}
		&__item &__cell{
			height: 50px;
		}
		&__cell{
			flex: 1 25%;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 20%;
			padding: 15px 0;
			text-align: center;
			
			&:first-child{
				justify-content: flex-start;
				padding-left: 10px;
				text-align: left;
			}
			&:last-child{
				flex: 1 10%;
				justify-content: flex-end;
				padding-right: 25px;
				text-align: right;
			}
		}
	}
	&__gun{
		position: absolute 50% * * 50%;
		transform: translate(-50%, -50%);
	}
}