.numbers{
	font-size: 17px;
	
	&__item{
		box-sizing: border-box;
		size: 48px;
		border: 2px solid var(--color__blue-gray);
		margin-bottom: 9px;
		background: var(--color__black);
		text-align: center;
		line-height: 48px;
		
		&_size_big{
			size: 78px;
			min-width: 78px;
			border-width: 2px;
			line-height: 78px;
		}
		
		&._status_selected{
			border-color: var(--color__yellow);
		}
		&._status_winning{
			border-color: var(--color__green);
		}
		&._status_matched{
			border-color: var(--color__yellow);
			background: var(--color__yellow);
		}
	}
}