<!doctype html>
<html lang="ru" ng-app="lotteryApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>KODO</title>
	<link rel="stylesheet" href="kodo.css">
	<link rel="shortcut icon" href="img/favicon.png">
	
	<noscript><style>body{margin-top:50px}.g-errors__nojs{display: block}</style></noscript>
	<!--[if lte IE 9]><style>.g-errors__old{display: block}</style><![endif]-->
</head>
<body>
<div class="g-page" ng-controller="userCtrl as user">
	<div class="g-page__content">
		<header class="intro">
			<div class="intro__title">
				<div class="intro__title__bright">Розыгрывается</div>
				<div class="intro__title__colored">Подзаголовок</div>
			</div>
			<div class="intro__button button _theme_yellow">Суперприз</div>
		</header>
		<nav class="nav grid grid_align_center">
			<menu class="menu">
				<a href="#/" class="menu__link">Главная</a>
				<a href class="menu__link">Гарантии</a>
				<a href class="menu__link">Правила</a>
				<a href class="menu__link">О нас</a>
				<a href class="menu__link" ng-show="false">Админка</a>
			</menu>
			<div class="nav__links">
				<a class="steam steam_status_login" ng-if="!user.loged" ng-click="user.login()">
					<span class="i-steam-login"></span>
				</a>
				<div class="grid grid_align_center" ng-if="user.loged">
					<a href class="steam steam_status_logout" ng-click="user.logout()">
						<span class="i-steam-logout"></span>
					</a>
					<a href="#/store" class="nav__button button _theme_dark _theme_dark-blue">Инвентарь</a>
				</div>
			</div>
		</nav>
		<!--Content-->
		<div class="content">
			<div class="grid">
				<main class="content__main grid">
					<div class="banner">
						<div class="banner__title">Kodo</div>
					</div>
					<div class="banner ">
						<div class="banner__title">Headshot</div>
					</div>
				</main>
				<aside class="content__aside"></aside>
			</div>
			<div class="grid">
				<main class="content__main grid" ng-controller="bannerCtrl as banner">
					<div class="banner" ng-class="{ _passive: user.url() === '/headshot' }">
						<a href="#/" class="banner__kodo__move grid grid_align_center grid_justify_center" ng-if="user.url() === '/history'"><div class="i-back"></div></a>
						<a href="#/history" class="banner__kodo__move grid grid_align_center grid_justify_center" ng-if="banner.move && user.url() === '/'"><div class="i-tickets"></div></a>
						<a href="#/" class="banner__link banner__kodo">
							<div class="banner__half banner__info grid grid_dir_column grid_justify_around">
								<div class="banner__kodo__timer">{{banner.time()}}</div>
								<div class="banner__kodo__info">
									<div class="banner__kodo__circle">Тираж</div>
									<div class="banner__kodo__number">№119867552</div>
								</div>
							</div>
						</a>
					</div>
					<div class="banner" ng-class="{ _passive: user.url() === '/history' || user.url() === '/' }">
						<a href="#/headshot" class="banner__link banner__headshot">
							<div class="banner__half banner__info grid grid_dir_column grid_justify_center">
								<div class="banner__headshot__icon"><div class="i-target"></div></div>
								<div class="banner__headshot__title">Headshot</div>
								<div class="banner__headshot__subtitle">Испытай удачу</div>
							</div>
						</a>
					</div>
				</main>
				<aside class="content__aside grid">
					<balance class="grid"></balance>
				</aside>
			</div>
		</div>
		<div class="content">
			<div ng-view></div>
		</div>
		<div class="content grid" ng-if="user.url() === '/' || user.url() === '/headshot'">
			<div class="content__main">
				<!--<iframe width="100%" height="350" src="https://www.youtube.com/embed/ZhfUv0spHCY" class="video"></iframe>-->
				<br>
				<a href="#/callback" class="button _size_medium _theme_dark _theme_dark-blue _theme_dark-dark">Обратная связь</a>
			</div>
			<div class="content__aside">
				<div class="vk">
					<div class="vk__title">Вконтакте</div>
					<div class="vk__widget">
						<!--<iframe scrolling="no" src="http://vk.com/widget_community.php?app=0&amp;width=220px&amp;_ver=1&amp;gid=73890415&amp;mode=2&amp;color1=&amp;color2=&amp;color3=&amp;class_name=&amp;height=420&amp;14eb01475fe" name="fXDb65b8" width="100%" height="420"></iframe>-->
					</div>
				</div>
			</div>
		</div>
		<!--Footer-->
		<footer class="footer date">Текущее время: <span current-time></span>. часовой пояс GMT <span current-gmt></span> POWERD BY KODO®</footer>
		<stat></stat>
	</div>
	<broadcast></broadcast>
	<bets></bets>
	<div class="g-errors">
		<div class="g-errors__item g-errors__popup g-errors__nojs">Для корркетного отображения сайта включите JavaScript!</div>
		<div class="g-errors__item g-errors__popup g-errors__old">
			Для корркетного отображения сайта обновите браузер:<br>
			<a href="http://www.google.com/chrome/" target="_blank"><img src="img/firefox.png" alt="" width="200" height="200" class="g-errors__logo"></a>
			<a href="http://www.mozilla.org/firefox/" target="_blank"><img src="img/chrome.png" alt="" width="200" height="200" class="g-errors__logo"></a>
		</div>
	</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
<script src="kodo.js"></script>
</body>
</html>