.balance{
	height: 95px;
	margin: auto;
	background: var(--color__blue-black);
	
	&__icon{
		min-width: 80px;
		background: var(--color__blue_dirty);
	}
	&__info{
		flex: 1 100%;
		padding: 0 55px;
	}
	&__title{
		font-size: 150%;
		color: var(--color__blue_light);
	}
	&__value{
		font-size: 120%;
		color: var(--color__yellow);
	}
}