.inner{
	padding: 35px;
	background: var(--color__callback__bg);
	font-family: Open Sans;
	
	&__title{
		font-size: 48px;
	}
	&__subtitle{
		margin-bottom: 1em;
		font-size: 24px;
		font-weight: 700;
		color: var(--color__yellow);
	}
	&__text{
		font-size: 95%;
	}
	&__line{
		height: 1px;
		margin: 24px 0;
		background: linear-gradient(90deg, transparent, var(--color__yellow), transparent);
	}
	&__link{
		line-height: 25px;
		
		&__icon{
			width: 25px;
		}
	}
	&__content{
		flex: 1 100%;
		min-width: calc(100% - 340px);
	}
	&__aside{
		box-sizing: border-box;
		flex: 1 100%;
		min-width: 340px;
		padding-left: 40px;
	}
}