.banner{
	position: relative;
	flex: 1 50%;
	max-width: 300px;
	font-family: Open Sans;
	
	&__title{
		margin: 0 0 20px;
		font-size: 110%;
		text-transform: uppercase;
		color: var(--color__blue-white);
	}
	&__link{
		position: relative;
		display: block;
		box-sizing: border-box;
		size: 300px 160px;
		border-style: solid;
		border-color: var(--color__banner);
		border-width: 4px 2px 3px 3px;
		background-repeat: no-repeat;
		background-size: cover;
		color: var(--color__font_dark);
	}
	&__half{
		position: relative;
		box-sizing: border-box;
		width: 50%;
		height: 100%;
	}
	&__preview{
		float: left;
	}
	&__info{
		float: right;
		padding: 1em;
		background: var(--color__yellow);
	}
	
	&__kodo{
		background-image: url(img/kodo.jpg);
		
		&__move{
			position: absolute 0 0 * *;
			z-index: 10;
			size: 40px;
			background: var(--color__banner);
		}
		&__timer{
			font-family: PT Sans;
			font-size: 230%;
			font-weight: 700;
		}
		&__circle{
			font-weight: 700;
			font-size: 125%;
		}
		&__number{
			font-size: 110%;
		}
	}
	&__headshot{
		background-image: url(img/headshot.jpg);
		text-align: center;
		text-transform: uppercase;
		font-family: PT Sans;
		
		&__icon{
			margin: 0 0 1em;
		}
		&__title{
			font-size: 200%;
			font-weight: 700;
		}
		&__subtitle{
			font-size: 110%;
		}
	}
	
	&._passive{
		opacity: .3;
	}
}