.content{
	padding: 30px 30px 0;
	background: color(var(--color__predark) alpha(-50%));
	
	&__title{
		margin: 50px 0 35px;
		font-size: 185%;
		font-weight: 600;
	}
	&__main{
		flex: 1 66%;
	}
	&__aside{
		flex: 1 300px;
		max-width: 300px;
		min-width: 300px;
		margin-left: 25px;
	}
	&:last-of-type{
		padding-bottom: 30px;
	}
}