.broadcast{
	display: none;
	position: fixed * * 15px 15px;
	z-index: 100;
	box-sizing: border-box;
	size: 485px 365px;
	padding: 30px 20px 25px;
	background: url(img/broadcast.jpg) center no-repeat;
	background-size: cover;
	
	&__close{
		position: absolute 20px 20px * *;
	}
	&__title{
		font-size: 230%;
		font-weight: 700;
	}
	&__subtitle{
		font-size: 140%;
	}
	&__result{
		flex: 1 100%;
	}
	&__number{
		margin: 0 12px 20px 0;
	}
	&__gun{
		vertical-align: middle;
	}
	&__show{
		align-self: flex-start;
		
		&__icon{
			display: inline-block;
			box-sizing: border-box;
			size: 20px;
			border: 1px solid var(--color__font_bright);
			margin: 0 10px 0 0;
			text-align: center;
			line-height: 13px;
		}
	}
}