.input{
	box-sizing: border-box;
	height: 34px;
	padding: 0 10px;
	border: 0;
	background: var(--color__input__bg);
	font-family: inherit;
	font-size: 95%;
	color: var(--color__input__color);
	
	&__field{
		min-width: 55px;
		max-width: 55px;
		height: 30px;
		text-align: center;
		font-size: 130%;
		line-height: 30px;
		color: var(--color__font_bright);
	}
	&__change{
		min-width: 20px;
		background: var(--color__input__change);
		text-align: center;
		line-height: 30px;
		color: var(--color__yellow);
	}
	&__less:after{
		content: '-';
	}
	&__more:after{
		content: '+';
	}
	
	&_textarea{
		padding-top: 10px;
		padding-bottom: 10px;
		height: auto;
		resize: none;
	}
}