.bets{
	text-transform: uppercase;
	font: 12px  Open Sans;
	overflow: auto;
	
	&__popup{
		position: absolute;
		z-index: 100;
		top: 200px;
		left: 50%;
		width: var(--content);
		padding: 25px;
		background: var(--color__blue-black);
		transform: translateX(-50%);
	}
	&__overlay{
		position: fixed 0 0 0 0;
		background: color(#000 alpha(-30%));
		cursor: default;
	}
	&__close{
		position: absolute 30px 30px * *;
		transform: rotate(45deg);
		
		&:after{
			content: '+';
			font-size: 30px;
			font-weight: 600;
			line-height: 0;
			color: var(--color__blue);
		}
	}
	&__title{
		margin: 0 0 1em;
		font: 200% PT Sans;
		color: var(--color__blue-white);
	}
	&__tab{
		padding: 15px;
		font-size: 165%;
		color: var(--color__blue);
		
		&.active{
			background: #172634;
		}
	}
	&__content{
		display: table;
		width: 100%;
		padding: 10px 0;
		background: url(img/bets.png);
		background-size: 100% auto;
		font-size: 15px;
	}
	&__row{
		display: table-row;
		height: 60px;
		text-align: center;
	}
	&__head{
		color: var(--color__yellow);
	}
	&__row:not(&__head){
		background: #131f2a;
		margin-bottom: 5px;
		color: var(--color__blue);
	}
	&__cell{
		width: 20%;
		display: table-cell;
		vertical-align: middle;
		padding: 0 10px;
		white-space: nowrap;
		
		&:nth-child(4){
			width: 40%;
		}
	}
	&__gun{
		display: inline-block !important;
		vertical-align: middle;
		margin: 0 0 0 10px;
	}
	&__numb:not(:last-of-type){
		margin-right: 10px;
	}
	&__numbers{
		text-align: right;
	}
}