.g-page{
	position: relative;
	min-width: 1024px;
	background: url(img/g-page__bg.jpg) no-repeat var(--color__dark);
	background-size: 100% auto;
	background-attachment: fixed;
	font: 13px PT Sans;
	color: var(--color__font_bright);
	overflow-x: hidden;
	
	&__content{
		position: relative;
		width: 1000px;
		margin: 0 auto;
	}
}
[ng-click]{
	cursor: pointer;
}