[class*=i-]{
	display: inline-block;
}
[class^='i-']:before,
[class*=' i-']:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-image: url(img/icons.png);
}
.i-arrow-down:before {
	width: 12px;
	height: 6px;
	background-position: -445px -153px;
}
.i-back:before {
	width: 21px;
	height: 21px;
	background-position: -366px -114px;
}
.i-barcode:before {
	width: 463px;
	height: 109px;
	background-position: 0px 0px;
}
.i-check:before {
	width: 12px;
	height: 11px;
	background-position: -428px -153px;
}
.i-close:before {
	width: 15px;
	height: 16px;
	background-position: -367px -153px;
}
.i-email:before {
	width: 16px;
	height: 12px;
	background-position: -407px -153px;
}
.i-info:before {
	width: 25px;
	height: 25px;
	background-position: -336px -114px;
}
.i-label:before {
	width: 29px;
	height: 30px;
	background-position: -204px -114px;
}
.i-logo-cs:before {
	width: 157px;
	height: 34px;
	background-position: 0px -114px;
}
.i-loupe:before {
	width: 29px;
	height: 29px;
	background-position: -238px -114px;
}
.i-phone:before {
	width: 15px;
	height: 14px;
	background-position: -387px -153px;
}
.i-search:before {
	width: 16px;
	height: 16px;
	background-position: -437px -114px;
}
.i-star-round:before {
	width: 27px;
	height: 27px;
	background-position: -272px -114px;
}
.i-star:before {
	width: 20px;
	height: 20px;
	background-position: -392px -114px;
}
.i-steam-login:before {
	width: 117px;
	height: 44px;
	background-position: 0px -153px;
}
.i-steam-logout:before {
	width: 116px;
	height: 44px;
	background-position: -122px -153px;
}
.i-steam:before {
	width: 72px;
	height: 36px;
	background-position: -243px -153px;
}
.i-target:before {
	width: 61px;
	height: 61px;
	background-position: 0px -202px;
}
.i-tickets:before {
	width: 15px;
	height: 18px;
	background-position: -417px -114px;
}
.i-wallet:before {
	width: 37px;
	height: 32px;
	background-position: -162px -114px;
}
.i-wallet_colored:before {
	width: 42px;
	height: 36px;
	background-position: -320px -153px;
}
.i-wand:before {
	width: 27px;
	height: 27px;
	background-position: -304px -114px;
}
