<div class="g-errors">
	<div class="g-errors__item g-errors__nojs">Для корркетного отображения сайта включите JavaScript!</div>
	<div class="g-errors__item g-errors__popup g-errors__old">
		Для корркетного отображения сайта обновите браузер:<br>
		<a href="http://www.google.com/chrome/" target="_blank"><img src="firefox.png" alt="" width="200" height="200" class="g-errors__logo"></a>
		<a href="http://www.mozilla.org/firefox/" target="_blank"><img src="chrome.png" alt="" width="200" height="200" class="g-errors__logo"></a>
	</div>
</div>
<link rel="stylesheet" href="g-errors.css">
<noscript><style>body{margin-top:50px}.g-errors__nojs{display: block}</style></noscript>
<!--[if lte IE 9]><style>.g-errors__old{display: block}</style><![endif]-->