.lottery{
	user-select: none;
	cursor: default;
	
	
	/*- step -*/
	&__gun{
		size: 130px 135px;
		margin: 0 0 10px;
		
		&:not([class*=_theme]){
			filter: grayscale(100%);
		}
	}
	&__clean{
		height: 45px;
		margin: 3px 0 0;
		background: var(--color__blue-black);
		text-align: center;
		line-height: 45px;
		color: var(--color__yellow);
		transition: .3s;
		
		&:hover{
			background: var(--color__yellow);
			color: var(--color__blue-black);
		}
	}
	
	/*- aside -*/
	&__aside{
		position: relative;
		z-index: 10;
		align-self: flex-start;
		margin-top: -185px;
		padding: 0 0 var(--lottery__aside__indent);
		background: var(--color__blue-bg);
	}
	&__links{
		line-height: 45px;
		padding: 0 var(--lottery__aside__indent);
		background: var(--color__blue_dark);
	}
	&__link{
		&:first-child{
			color: var(--color__yellow);
		}
		&:last-child{
			color: var(--color__blue);
		}
	}
	&__types{
		padding: 20px var(--lottery__aside__indent);
	}
	&__type{
		display: inline-block;
		padding: 5px;
		text-transform: uppercase;
		color: var(--color__blue);
		
		&.active{
			background: var(--color__lottery__type);
		}
	}
	&__add{
		height: 30px;
		margin: 10px var(--lottery__aside__indent);
		text-transform: uppercase;
		line-height: 30px;
	}
	&__bates{
		text-align: center;
		font-size: 120%;
		color: var(--color__blue-white);
		
		&__delete{
			float: right;
		}
		&__select{
			display: inline-block;
			padding: 0 15px;
		}
		&__list{
			padding: inherit;
			text-align: left;
			background: var(--color__blue_dark) !important;
		}
		&__item{
			padding: 5px 0;
			text-decoration: underline;
			
			&.active,
			&:hover{
				text-decoration: none;
				color: var(--color__blue);
			}
		}
	}
	&__auto{
		margin: 10px 15px 20px;
		
		&__button{
			box-sizing: border-box;
			size: 48px;
			padding: 5px;
			border-radius: 5px;
			background: #1D2D3A;
			font-size: 150%;
			line-height: 1;
			text-align: center;
			color: #8395A9;
			
			&__bottom{
				align-self: flex-end;
			}
			
			&:not(:last-child){
				margin-right: 9px;
			}
		}
	}
	&__fieldset{
		margin: 10px var(--lottery__aside__indent);
	}
	&__label{
		flex: 1 70%;
		color: var(--color__blue);
	}
	&__extra{
		position: relative;
		min-width: 95px;
		
		&_total{
			text-align: center;
			font-size: 130%;
			font-weight: 700;
		}
	}
	&__extra:hover &__prompt{
		visibility: visible;
		opacity: 1;
	}
	&__prompt{
		position: absolute;
		z-index: 10;
		left: 100%;
		top: 0;
		width: 80px;
		padding: 0 10px;
		background: var(--color__input__change);
		text-align: center;
		line-height: 30px;
		visibility: hidden;
		opacity: 0;
		transition: .5s;
		
		&__numb{
			box-sizing: border-box;
			flex: 1 30%;
			padding: 0 5px;
			
			&._active{
				color: var(--color__yellow);
			}
		}
	}
	&__actions{
		margin: 0 var(--lottery__aside__indent);
	}
	&__send,
	&__refill{
		background: var(--color__blue_dark) !important;
		text-align: center;
	}
	&__send{
		line-height: 55px;
		color: var(--color__blue);
		
		&__icon{
			margin: 0 0 0 1em;
		}
	}
	&__refill{
		display: block;
		margin: 10px 0 0;
		line-height: 40px;
		color: var(--color__yellow);
	}
	&__balance{
		margin: 1em 0;
		text-align: center;
		font-size: 140%;
		color: var(--color__blue);
		
		&__value{
			color: var(--color__yellow);
		}
	}
	&__login{
		padding: 20px var(--lottery__aside__indent) 0;
		margin: 0 var(--lottery__aside__indent);
		background: var(--color__lottery__login);
		text-align: center;
		color: var(--color__blue);
		
		&__button{
			display: block;
			margin: 35px 10px 0;
			font-size: 130%;
			line-height: 50px;
		}
	}
	&__multi > &__fieldset{
		box-sizing: border-box;
		margin: 0;
		padding: 20px var(--lottery__aside__indent);
		width: 50%;
	}
	&__scale{
		width: 100% !important;
		
		&__line{
			size: 20px 55px;
			text-align: center;
			line-height: 55px;
			font-size: 70%;
			color: var(--color__font_dark);
			
			&.active{
				background: var(--color__yellow);
				color: var(--color__font_dark);
			}
			&:not(.active){
				background: color(var(--color__yellow) alpha(-80%));
				color: var(--color__yellow);
			}
		}
	}
}