.intro{
	box-sizing: border-box;
	height: 260px;
	padding: 50px 65px;
	background: url(img/intro__bg.jpg);
	background-size: cover;
	
	&__title{
		text: uppercase 48px 700 1;
		
		&__bright{
			background: -webkit-linear-gradient(#9a9a9a, #fff, #e2e2e2);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			color: var(--color__gray_bright);
		}
		&__colored{
			background: -webkit-linear-gradient(#f2d222, #ffb81d);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			color: var(--color__yellow);
		}
	}
	
	&__button{
		display: inline-block;
		width: 245px;
		margin: 20px 0 0;
		box-shadow: 0 0 6px color(#f73805 alpha(-50%));
		text: uppercase 130% 700 35px;
	}
}