.headshot{
	text-align: center;
	font-family: Open Sans;
	
	&__main,
	&__list{
		background: var(--color__blue-black);
	}
	&__main{
		padding: 70px 0 40px;
	}
	&__title,
	&__subtitle{
		text-transform: uppercase;
		color: var(--color__yellow);
	}
	&__title{
		font-size: 370%;
		font-weight: 700;
	}
	&__subtitle{
		margin: 0 0 40px;
		font-size: 140%;
	}
	&__prize{
		font-size: 140%;
	}
	&__ticket{
		display: inline-block;
		margin: 35px 0;
	}
	&__send{
		display: block;
		width: 275px;
		margin: 55px auto;
		border-radius: 2px;
		background: 
			linear-gradient(
				-20deg,
				transparent 0%,
				transparent 50%,
				color(#fff alpha(-95%)) 50%,
				color(#fff alpha(-95%))
			) -30px center no-repeat,
			repeating-linear-gradient(
				45deg,
				transparent,
				transparent 3px,
				color(#fff alpha(-90%)) 4px,
				color(#fff alpha(-90%)) 5px
				),
			linear-gradient(#f79f05,#844100);
		box-shadow: 
			0 0 0 2px #000,
			0 2px color(#fff alpha(-70%)) inset,
			0 4px color(#000 alpha(-90%)) inset,
			0 -3px color(var(--color__lemon) alpha(-90%)) inset;
		text-shadow: 0 1px 0 color(var(--color__yellow) alpha(-50%));
		font-size: 230%;
		font-weight: 700;
		line-height: 70px;
		color: var(--color__brown);
		user-select: none;
		
		&._passive{
			opacity: .5;
		}
	}
	&__number{
		margin-bottom: -45px;
		font-size: 140%;
		line-height: 45px;
		color: var(--color__blue);
	}
	&__rules{
		margin: 0 0 20px;
		text-transform: uppercase;
		line-height: 55px;
	}
	&__aside{
		
		&__title{
			text-transform: uppercase;
			background: var(--color__blue_dark);
			line-height: 55px;
			color: var(--color__blue);
		}
	}
	&__list{
		padding: 15px 10px;
	}

	&__item{
		&:not(:first-child){
			margin-top: -60px;
		}
		&:last-child{
			margin-bottom: -70px;
		}
	}
}