.history{
	font-family: Open Sans;
	user-select: none;
	cursor: default;
	
	&__instruction{
		padding: 15px;
		margin: 0 0 20px;
		background: #0d151f;
		
		&__text{
			margin: 0 0 0 10px;
			background: #0d151f;
			text-align: left;
			text-transform: uppercase;
			font-size: 10px;
		}
		&__half:first-child{
			box-sizing: border-box;
			position: relative;
			padding: 10px;
			
			&:after{
				content: '';
				position: absolute 0 * * 50%;
				width: 1px;
				height: 100%;
				background: var(--color__green);
				transform: rotate(45deg);
			}
		}
		&__half:first-child &__line{
			border: none;
			line-height: 1.2;
			
			&:first-child{
				margin-right: 15px;
			}
			&:last-child{
				align-self: flex-end;
			}
		}
		&__half:last-child &__line{
			border-color: var(--color__yellow);
			align-self: flex-start;
		}
		&__b{
			font-weight: 700;
			font-size: 16px;
		}
		&__line{
			line-height: 25px;
			color: var(--color__blue-white);
			
			&:not(:last-child){
				border-bottom: 1px solid;
			}
		}
		
		
		& .history__short{
			width: auto;
			margin: 0;
			font-size: 12px;
			
			&__stat{
				min-width: 70px
			}
			&__half{
				height: 70px;
				line-height: 70px;
			}
		}
	}
	&__content{
		position: relative;
		padding: 0 30px;
		margin: 0 -30px;
	}
	&__list{
		overflow: hidden;
	}
	&__wrap{
		width: 10000em;
		white-space: nowrap;
		transition: .5s;
	}
	&__move{
		display: flex;
		position: absolute;
		z-index: 10;
		top: 50%;
		width: 30px;
		height: 100%;
		transform: translateY(-50%);
		cursor: pointer;
		
		&__icon{
			margin: auto;
			filter: brightness(0) invert(100%);
		}
	}
	&__prev{
		left: 0;
		
		&__icon{
			transform: rotate(90deg);
		}
	}
	&__next{
		right: 0;
		
		&__icon{
			transform: rotate(-90deg);
		}
	}
	&__full{
		display: inline-block;
	}
	&__links{
		margin: 25px 0;
	}
	&__link{
		display: inline-block;
		padding: 2px 3px;
		margin-right: 10px;
		text-decoration: underline;
		color: var(--color__blue);
		
		&.active{
			background: var(--color__history__link);
			text-decoration: none;
		}
	}
	
	&__rate{
		vertical-align: top;
		max-width: 300px;
		
		&__head{
			box-sizing: border-box;
			min-height: 110px;
			padding: 10px 14px;
			background: var(--color__history__head);
			font-size: 14px;
			line-height: 21px;
			color: var(--color__blue);
		}
		&__index{
			font-size: 20px;
			font-weight: 700;
			color: var(--color__yellow);
		}
	}
	&__full{
		&:not(:last-child){
			margin-right: 20px;
		}
	}
	&__short{
		width: 100px;
		margin: 0 0 25px 28px;
		text-align: center;
		font-size: 123%;
		
		&__stat{
			background: var(--color__history__short);
		}
		&__half{
			height: 100px;
			line-height: 100px;
			color: var(--color__yellow);
			
			&:first-child{
				border-bottom: 1px solid var(--color__history__short__line);
				color: var(--color__green);
			}
		}
		&__number{
			&:first-child{
				font-size: 200%;
			}
			&:last-child{
				font-size: 123%;
				&:before{
					content: '/';
				}
			}
		}
		&__circle{
			margin-top: 15px;
			font-size: 123%;
			color: var(--color__blue_light);
		}
	}	
	&__annotation{
		padding: 40px 0;
		background: var(--color__history__annotation);
		text-align: center;
		
		&__item{
			margin: 0 65px;
		}
		&__number{
			margin: 0 auto;
			font-size: 26px;
		}
		&__text{
			margin-top: 15px;
			font-size: 13px;
		}
	}
	&__gun{
		& .gun__preview{
			min-height: 100px;
		}
	}
}