.store{
	
	&__change{
		padding: 9px 11px;
		margin: 0 0 9px;
		background: var(--color__store__blue_dark);
		font-family: PT Sans;
		color: var(--color__yellow);
		
		&__title{
			margin: 0 0 10px;		
			font-size: 110%;
		}
		&__input{
			flex: 1 50%;
			height: 30px;
			line-height: 30px;
		}
		&__button{
			height: 30px;
			padding: 0 14px;
			margin-left: 6px;
			font-size: 90%;
			line-height: 30px;
			white-space: nowrap;
		}
	}
	&__inventory{
		padding: 17px;
		background: var(--color__store__blue_dark);
		
		&__title{
			padding: 1em 0;
			text-align: center;
			font-size: 150%;
			color: var(--color__blue);
		}
		&__list{
			min-height: 410px;
		}
		&__item{
			box-sizing: border-box;
			size: 145px;
			display: flex;
			border: 1px solid var(--color__store__blue);
			background: var(--color__store__inventory__item);
			
			&:not(:nth-child(4n)){
				margin: 0 3px 4px 0;
			}
		}
		&__img{
			width: 90%;
			height: auto;
			margin: auto;
		}
	}
	&__actions{
		margin-top: 14px;
		font-family: PT Sans;
	}
	&__action{
		flex: 1 30%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 75px;
		background: var(--color__store__blue_dark);
		
		&:not(:last-child){
			margin-right: 10px;
		}
	}
	&__total{
		
		&__text{
			color: var(--color__blue);
		}
		&__price{
			font-size: 150%;
			font-weight: 700;
			color: var(--color__yellow);
		}
	}
	&__buy{
		padding: 0 30px;
		font-size: 185%;
		color: var(--color__green);
		white-space: nowrap;
		transition: .3s;
		
		&:hover{
			background: var(--color__yellow);
			color: var(--color__blue-black);
		}
	}
	&__more{
		font-size: 115%;
		color: var(--color__yellow);
	}
	&__best{
		min-width: 290px;
		margin-right: 10px;
		font-family: PT Sans;
		
		&__title{
			margin-bottom: 25px;
			background: var(--color__blue_dirty);
			text-align: center;
			font-size: 115%;
			line-height: 60px;
			color: var(--color__blue);
		}
		&__gun{
			position: relative;
			display: flex;
			height: 150px;
			background: var(--color__blue_dirty);
			
			&__preview{
				margin: auto;
			}
			&__price{
				position: absolute 0 0 * *;
				padding: 5px 10px;
				background: color(var(--color__store__blue_dark) alpha(-30%));
				font-size: 115%;
			}
			&__info{
				position: absolute * * 0 0;
				width: 235px;
				background: color(var(--color__store__blue_dark) alpha(-30%));
				
				&__icon{
					min-width: 50px;
					text-align: center;
					line-height: 50px;
				}
				&__text{
					flex: 1 100%;
				}
			}
			&__name{
				font-size: 115%;
				font-weight: 700;
			}
			&__status{
				font-size: 90%;
			}
		}
	}
	&__cart{
		flex: 1 100%;
	}
	&__filter{
		&__button{
			box-sizing: border-box;
			size: 105px 30px;
			padding: 0 5px;
			margin: 0 8px 8px 0;
			background: var(--color__blue_dirty);
			text-align: center;
			line-height: 30px;
			color: var(--color__blue);
			
			&.active{
				background: var(--color__purple_dark);
			}
		}
		&__input{
			height: 100%;
			line-height: 30px;
		}
		&__search{
			width: 225px;
			
			&__icon{
				min-width: 28px;
				background: #121c26;
				text-align: center;
				line-height: 30px;
			}
		}
	}
	&__guns{
		padding: 20px 20px 10px;
		margin: 30px 0;
		background: var(--color__store__guns);
	}
	&__gun{
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		position: relative;
		size: 143px 83px;
		border: 1px solid;
		background: var(--color__store__gun__bg);
		text-align: center;
		overflow: hidden;
		
		&__preview{
			flex: 1 100%;
			display: flex;
			flex-direction: column;
		}
		&__img{
			margin: auto;
		}
		&__price{
			position: absolute 0 0 * *;
			padding: 0 2px;
			background: var(--color__store__gun__price);
			font-size: 70%;
			line-height: 1.66;
		}
		&__status{
			padding: 0 .7em;
			text-align: left;
			font-size: 75%;
			line-height: 2;
		}
		
		&:not(:nth-child(6n)){
			margin: 0 6px 7px 0;
		}
		&._st_true:before{
			content: 'ST';
			position: absolute 0 * * 0;
			padding: 0 1px;
			background: var(--color__yellow);
			font-size: 75%;
			line-height: 1.3;
			color: #000;
		}
		&._theme_red{
			border-color: var(--color__gun__red);
		}
		&._theme_yellow{
			border-color: var(--color__gun__yellow);
		}
		&._theme_blue{
			border-color: var(--color__gun__blue);
		}
		&._theme_purple{
			border-color: var(--color__gun__purple);
		}
	}
}