.gun{
	display: flex;
	flex-direction: column;
	position: relative;
	border: 1px solid var(--color__gun__gray);
	font-family: Open Sans;
	
	&__preview{
		display: flex;
		max-width: 100%;
		height: 100px;
		background-image: radial-gradient(#ededed, #8d8d8d);
	}
	&__img{
		margin: auto;
	}
	&__info{
		box-sizing: border-box;
		min-height: 42px;
		padding: 5px 15px;
		background-color: var(--color__gun__gray);
		background-image: linear-gradient(90deg, var(--color__gun__gray), color(var(--color__gun__gray) var(--color__gun__filter)));
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	&__title{
		font-weight: 700;
	}
	
	&_mini{
		width: 135px;
		margin: auto;
		transform: scale(0.45);
		transition: .3s;
		
		& .gun__info{
			display: none;
			overflow: hidden;
		}
		&:hover{
			transform: none;
			
			& .gun__info{
				display: block;
			}
		}
	}
	
	&_tiny{
		width: 50px;
		height: 50px;
		
		& .gun__preview{
			height: 100%;
			line-height: 50px;
		}
	}
		
	&._theme_red{
		border-color: var(--color__gun__red);
		
		.gun__info{
			background-color: var(--color__gun__red);
			background-image: linear-gradient(90deg, var(--color__gun__red), color(var(--color__gun__red) var(--color__gun__filter)));
		}
	}
	&._theme_blue{
		border-color: var(--color__gun__blue);
		
		.gun__info{
			background-color: var(--color__gun__blue);
			background-image: linear-gradient(90deg, var(--color__gun__blue), color(var(--color__gun__blue) var(--color__gun__filter)));
		}
	}
	&._theme_yellow{
		border-color: var(--color__gun__yellow);
		
		.gun__info{
			background-color: var(--color__gun__yellow);
			background-image: linear-gradient(90deg, var(--color__gun__yellow), color(var(--color__gun__yellow) var(--color__gun__filter)));
		}
	}
	&._theme_purple{
		border-color: var(--color__gun__purple);
		
		.gun__info{
			background-color: var(--color__gun__purple);
			background-image: linear-gradient(90deg, var(--color__gun__purple), color(var(--color__gun__purple) var(--color__gun__filter)));
		}
	}
}