.stat{
	font: 12px PT Sans Narrow;
	
	&__side{
		position: absolute;
		top: 260px;
		box-sizing: border-box;
		width: 200px;
		
		&_dir_left{
			right: 100%;
			padding-right: 50px;
		}
		&_dir_right{
			left: 100%;
			padding-left: 50px;
		}
	}
	&__set{
		min-height: 200px;
		
		&_clear{
			opacity: .5;
		}
	}
	&__title{
		margin: 0 0 1em;
		font-size: 200%;
	}
	&__subtitle{
		margin: 0 0 1em;
		font-size: 150%;
	}
	&__link{
		font-size: 133%;
		
		&:not(.active){
			border-bottom: 1px dotted;
		}
		&_inline:not(:first-child){
			margin: 0 0 0 10px;
		}
		&:hover{
			border-color: transparent;
		}
	}
	&__numbers{
		margin: 1em 0 0;
	}
	&__number{
		width: 25%;
		text-align: center;
		font-size: 125%;
		line-height: 200%;
	}
	&__bet{
		margin: 1em 0;
		font-family: Open Sans;
		color: var(--color__yellow);
		
		&__time{
			margin: 0 0 0 10px;
		}
		&__numbers{
			background: color(var(--color__yellow) alpha(-70%));
		}
		&__gun{
			margin: 0 0 0 5px;
		}
	}
	&__list{
		padding: 10px;
		margin: 0 -10px;
		background: var(--color__dark);
	}
}
@media (--narrow){
	.stat{
		&__side{
			/*width: 140px;*/
			
			&_dir_left{
				padding-right: 10px;
			}
			&_dir_right{
				padding-left: 10px;
			}
		}
	}
}