.button{
	box-sizing: border-box;
	border: 0;
	padding: 0;
	background: var(--color__blue);
	text-align: center;
	font-size: 110%;
	color: var(--color__blue);
	cursor: pointer;
	transition: .3s;
	user-select: none;
	
	&._size_medium{
		display: block;
		line-height: 55px;
	}
	
	&._theme_dark{
		background: var(--color__button__dark);
		color: var(--color__yellow);
		
		&-blue{
			color: var(--color__blue);
		}
		&-dark{
			background: var(--color__blue_dark);
		}
		&:hover{
			background: color(var(--color__button__dark) alpha(-20%));
		}
	}
	&._theme_yellow{
		background: var(--color__yellow);
		color: var(--color__font_dark);
		
		&:hover{
			background: color(var(--color__yellow) alpha(-20%));
		}
	}
}