.choice{
	box-sizing: border-box;
	align-self: stretch;
	width: 300px;
	
	&__title{
		margin: 0 0 1em;
		text-transform: uppercase;
		font-size: 120%;
		color: var(--color__blue-white);
	}
	&__wrap{
		background: var(--color__blue-bg);
	}
	&__head{
		height: 40px;
		padding: 0 15px;
		background: var(--color__yellow);
		font-family: Open Sans;
		font-weight: 600;
		line-height: 1.2;
		color: var(--color__font_dark);
		
		&__icon{
			width: 50px;
		}
	}
	&__body{
		padding: 25px 12px 0;
	}
}