.grid{
	display: flex;
	justify-content: space-between;
}
.grid_justify_center{
	justify-content: center;
}
.grid_justify_around{
	justify-content: space-around;
}
.grid_justify_start{
	justify-content: flex-start;
}
.grid_align_start{
	align-items: flex-start;
}
.grid_align_center{
	align-items: center;
}
.grid_dir_column{
	flex-direction: column;
}
.grid_wrap{
	flex-wrap: wrap;
}
.grid__col{
	&_half{
		flex: 1 50%;
	}
}